<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>substrings</key>
	<dict/>
	<key>withDomain</key>
	<dict>
		<key>thumbnail</key>
		<integer>0</integer>
		<key>skins</key>
		<integer>0</integer>
		<key>load.php</key>
		<integer>14</integer>
		<key>mwEmbedLoader.php</key>
		<integer>7</integer>
	</dict>
	<key>offlineSubStr</key>
	<dict>
		<key>playManifest</key>
		<string>15</string>
	</dict>
</dict>
</plist>
