<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Documantation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>KALTURAPlayerSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KALTURAPlayerSDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>KALTURAPlayerSDKNoDoubleClick.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>KALTURAPlayerSDKNoIMA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>KALTURAPlayerSDKResources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3166DD01AF26C4700E99B77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B372892D1A8787D00076DD33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF6759401B3AC9EE00528718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF6759951B3ACFCA00528718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF7BB4AB1BC5371F0018C17B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFFFA726182F9E31005B3B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
